<!-- brand  -->
<section class="brand">
    <div class="container">
        <div class="section-title">Нам <span>доверяют</span> и <span>рекомендуют</span></div>
        <div class="brand__wrap">
            <div class="brand__item">
                <img src="./img/brand/1.png" alt="">
            </div>
            <div class="brand__item">
                <img src="./img/brand/2.png" alt="">
            </div>
            <div class="brand__item">
                <img src="./img/brand/3.png" alt="">
            </div>
            <div class="brand__item">
                <img src="./img/brand/4.png" alt="">
            </div>
            <div class="brand__item">
                <img src="./img/brand/5.png" alt="">
            </div>
            <div class="brand__item">
                <img src="./img/brand/6.png" alt="">
            </div>
            <div class="brand__item">
                <img src="./img/brand/7.png" alt="">
            </div>
            <div class="brand__item">
                <img src="./img/brand/8.png" alt="">
            </div>
            <div class="brand__item">
                <img src="./img/brand/9.png" alt="">
            </div>
            <div class="brand__item">
                <img src="./img/brand/10.png" alt="">
            </div>
            <div class="brand__item">
                <img src="./img/brand/11.png" alt="">
            </div>
            <div class="brand__item">
                <img src="./img/brand/12.png" alt="">
            </div>
            <div class="brand__item">
                <img src="./img/brand/13.png" alt="">
            </div>
            <div class="brand__item">
                <img src="./img/brand/14.png" alt="">
            </div>
            <div class="brand__item">
                <img src="./img/brand/15.png" alt="">
            </div>
            <div class="brand__item">
                <img src="./img/brand/16.png" alt="">
            </div>
            <div class="brand__item">
                <img src="./img/brand/17.png" alt="">
            </div>
            <div class="brand__item">
                <img src="./img/brand/18.png" alt="">
            </div>
            <div class="brand__item">
                <img src="./img/brand/19.png" alt="">
            </div>
        </div>
    </div>
</section>