<!-- utp -->
<section class="utp">
    <div class="container">
        <div class="section-title">Мы вас научим</div>
        <div class="utp__wrap">
            <div class="utp__item">
                <div class="utp__wrap-cont">
                    <div class="utp__icon"><img src="./img/angl.svg" alt=""></div>
                    <div class="utp__title">Английский</div>
                    <div class="utp__descr">Самый распространенный язык в мире не только из-за количества носителей, но и потому что многие учат его..</div>
                </div>
                <div class="utp__wrap-btn">
                    <div class="utp__btn btn-main modal-open-3">Выбрать</div>
                    <a href="./lang.html" class="utp__link">Подробнее 
                        <svg width="22" height="21" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M10.8682 14.4959L14.7682 10.5959M14.7682 10.5959L10.8682 6.69595M14.7682 10.5959H6.96816M20.6182 10.5959C20.6182 15.9807 16.2529 20.3459 10.8682 20.3459C5.48339 20.3459 1.11816 15.9807 1.11816 10.5959C1.11816 5.21117 5.48339 0.845947 10.8682 0.845947C16.2529 0.845947 20.6182 5.21117 20.6182 10.5959Z" stroke="#3B4A60" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="utp__item">
                <div class="utp__wrap-cont">
                    <div class="utp__icon"><img src="./img/franc.svg" alt=""></div>
                    <div class="utp__title">Французский</div>
                    <div class="utp__descr">Язык Рабле, Мольера, Гюго - это язык величайших писателей, заложивших основы европейской литературы. </div>
                </div>
                <div class="utp__wrap-btn">
                    <div class="utp__btn btn-main modal-open-3">Выбрать</div>
                    <a href="./lang.html" class="utp__link">Подробнее 
                        <svg width="22" height="21" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M10.8682 14.4959L14.7682 10.5959M14.7682 10.5959L10.8682 6.69595M14.7682 10.5959H6.96816M20.6182 10.5959C20.6182 15.9807 16.2529 20.3459 10.8682 20.3459C5.48339 20.3459 1.11816 15.9807 1.11816 10.5959C1.11816 5.21117 5.48339 0.845947 10.8682 0.845947C16.2529 0.845947 20.6182 5.21117 20.6182 10.5959Z" stroke="#3B4A60" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </a>
                </div>
                
            </div>
            <div class="utp__item">
                <div class="utp__wrap-cont">
                    <div class="utp__icon"><img src="./img/nem.svg" alt=""></div>
                    <div class="utp__title">Немецкий</div>
                    <div class="utp__descr">Язык достаточно логичен и официален, это   родной язык таких писателей, как Гете, Шиллер и братьев Гримм. </div>
                </div>
                <div class="utp__wrap-btn">
                    <div class="utp__btn btn-main modal-open-3">Выбрать</div>
                    <a href="./lang.html" class="utp__link">Подробнее 
                        <svg width="22" height="21" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M10.8682 14.4959L14.7682 10.5959M14.7682 10.5959L10.8682 6.69595M14.7682 10.5959H6.96816M20.6182 10.5959C20.6182 15.9807 16.2529 20.3459 10.8682 20.3459C5.48339 20.3459 1.11816 15.9807 1.11816 10.5959C1.11816 5.21117 5.48339 0.845947 10.8682 0.845947C16.2529 0.845947 20.6182 5.21117 20.6182 10.5959Z" stroke="#3B4A60" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="utp__item">
                <div class="utp__wrap-cont">
                    <div class="utp__icon"><img src="./img/nid.svg" alt=""></div>
                    <div class="utp__title">Нидерландский</div>
                    <div class="utp__descr">Язык Эверартса, Херритсона и Хёйгенса. Основное средство общения в Нидерландах и Голландии</div>
                </div>
                <div class="utp__wrap-btn">
                    <div class="utp__btn btn-main modal-open-3">Выбрать</div>
                    <a href="./lang.html" class="utp__link">Подробнее 
                        <svg width="22" height="21" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M10.8682 14.4959L14.7682 10.5959M14.7682 10.5959L10.8682 6.69595M14.7682 10.5959H6.96816M20.6182 10.5959C20.6182 15.9807 16.2529 20.3459 10.8682 20.3459C5.48339 20.3459 1.11816 15.9807 1.11816 10.5959C1.11816 5.21117 5.48339 0.845947 10.8682 0.845947C16.2529 0.845947 20.6182 5.21117 20.6182 10.5959Z" stroke="#3B4A60" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="utp__item">
                <div class="utp__wrap-cont">
                    <div class="utp__icon"><img src="./img/ukr.svg" alt=""></div>
                    <div class="utp__title">Украинский</div>
                    <div class="utp__descr">Язык Шевченко, Леси Украинки и Франка. Основное средство общения на территории Украины</div>
                </div>
                <div class="utp__wrap-btn">
                    <div class="utp__btn btn-main modal-open-3">Выбрать</div>
                    <a href="./lang.html" class="utp__link">Подробнее 
                        <svg width="22" height="21" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M10.8682 14.4959L14.7682 10.5959M14.7682 10.5959L10.8682 6.69595M14.7682 10.5959H6.96816M20.6182 10.5959C20.6182 15.9807 16.2529 20.3459 10.8682 20.3459C5.48339 20.3459 1.11816 15.9807 1.11816 10.5959C1.11816 5.21117 5.48339 0.845947 10.8682 0.845947C16.2529 0.845947 20.6182 5.21117 20.6182 10.5959Z" stroke="#3B4A60" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="utp__item">
                <div class="utp__wrap-cont">
                    <div class="utp__icon"><img src="./img/rus.svg" alt=""></div>
                    <div class="utp__title">Русский</div>
                    <div class="utp__descr">Язык таких известных писателей как Пушкин, Достоевский и Лермонтов всегда популярен на территории всего СНГ...</div>
                </div>
                <div class="utp__wrap-btn">
                    <div class="utp__btn btn-main modal-open-3">Выбрать</div>
                    <a href="./lang.html" class="utp__link">Подробнее 
                        <svg width="22" height="21" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M10.8682 14.4959L14.7682 10.5959M14.7682 10.5959L10.8682 6.69595M14.7682 10.5959H6.96816M20.6182 10.5959C20.6182 15.9807 16.2529 20.3459 10.8682 20.3459C5.48339 20.3459 1.11816 15.9807 1.11816 10.5959C1.11816 5.21117 5.48339 0.845947 10.8682 0.845947C16.2529 0.845947 20.6182 5.21117 20.6182 10.5959Z" stroke="#3B4A60" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>