// fiatch
.fiatch{
    padding: 71px 0;
    &__wrap{
        display: flex;
        justify-content: space-between;
    }
    &__icon {
        display: flex;
        justify-content: center;
    }
    &__item{
        width: calc(33% - 10px);

        &:nth-child(1){
            & .fiatch__icon{
                margin-top: 19px;
            }
            & .fiatch__descr{
                max-width: 310px;
                margin: 0 auto;
            }
        }
        &:nth-child(2){
            & .fiatch__descr{
                max-width: 350px;
                margin: 0 auto;
            }
        }
        &:nth-child(3){
            & .fiatch__icon{
                margin-top: 14px;
            }
            & .fiatch__descr{
                margin: 0 auto;
            }
        }
    }
    &__title{
        font-weight: 600;
        font-size: 30px;
        line-height: 36px;
        text-align: center;
        color: #00B4FF;
        
    margin-bottom: 7px;
    }
    &__descr{
        font-weight: 300;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        color: #3B4A60;
    }
}
@media(max-width: 1100px){
    .fiatch{
        &__wrap{
            flex-wrap: wrap;
            justify-content: space-evenly;
        }
        &__item {
            width: 50%;
        }
    }
}
@media(max-width: 900px){
    .fiatch {
        padding: 50px 0;
    }
}
@media(max-width:690px){
    .fiatch{
        padding: 0;
        &__wrap{
            align-items: center;
            flex-direction: column;
        }
        &__item{
            width: 100%;
            margin-bottom: 30px;
            &:nth-child(2) .fiatch__descr {
                max-width: 290px;
                margin: 0 auto;
            }
            &:nth-child(3) .fiatch__descr {
                margin: 0 auto;
                max-width: 250px;
            }
        }
    }
}
