<!-- fiatch -->
<section class="fiatch">
    <div class="container">
        <div class="fiatch__wrap">
            <div class="fiatch__item">
                <div class="fiatch__icon"><img src="./img/fiatch-1.svg" alt=""></div>
                <div class="fiatch__title">Учитесь</div>
                <div class="fiatch__descr">Развивайтесь, растите, получайте новые знания, который пригодятся во всех сферах жизни</div>
            </div>
            <div class="fiatch__item">
                <div class="fiatch__icon"><img src="./img/fiatch-2.svg" alt=""></div>
                <div class="fiatch__title">Узнавайте</div>
                <div class="fiatch__descr">Открывайте новые возможности в образовании карьере и путешествиях. И просто в общении с людьми</div>
            </div>
            <div class="fiatch__item">
                <div class="fiatch__icon"><img src="./img/fiatch-3.svg" alt=""></div>
                <div class="fiatch__title">Достигайте</div>
                <div class="fiatch__descr">Достигайте новых профессиональных высот, выходите на более высокий уровень квалификации</div>
            </div>
        </div>
    </div>
</section>
