<!-- browser settings -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<!-- open graph -->
<meta property="og:site_name" content="" />
<meta property="og:title" content="" />
<meta property="og:description" content="" />
<meta property="og:image" content="://absolute/path/to/image.jpg" />
<meta property="og:type" content="website" /> <!-- or "article" -->
<meta property="og:url" content="://absolute/path/to/this/page/" />
<!-- seo -->
<link rel="canonical" href="://absolute/path/to/this/page/">
<meta name="description" content="" />
<meta name="keywords" content="" />
<meta name="robots" content="index, follow" />
<link rel="stylesheet" href="./font/stylesheet.css">
<!-- conditions -->
<!--[if IE]><link href="ie.css" rel="stylesheet" type="text/css" /><![endif]-->

<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">


<link rel="stylesheet" href="./css/owl.carousel.min.css">
<link rel="stylesheet" href="./css/owl.theme.default.min.css">
<link rel="stylesheet" href="css/styles.min.css">
<link rel="stylesheet" href="./css/animate.css">
<link rel="stylesheet" href="./css/animates.css">

<script src="./js/wow.js"></script>
<script src="./js/script.js"></script>
