<!-- footer  -->
<footer class="footer">
    <div class="footer__link">
        <div class="container">
            <div class="footer__wrap">
                <div class="footer__item">
                    <div class="footer__item-name">
                        О нас
                    </div>
                    <ul class="footer__list">
                        <li><a href="./about.html">О школе</a></li>
                        <li><a href="./about.html#prepod">Преподаватели</a></li>
                        <li><a href="./about.html#otzivi">Отзывы</a></li>
                        <li><a href="./about.html#otzivi__img">Рекомендательные письма</a></li>
                        <li><a href="./blog.html">Блог</a></li>
                    </ul>
                </div>
                <div class="footer__item">
                    <div class="footer__item-name">
                        Оплата и расписание
                    </div>
                    <ul class="footer__list">
                        <li><a href="./price.html">Расписание занятий</a></li>
                        <li><a href="./price.html#price">Стоимсоть занятий</a></li>
                        <li><a href="./price.html#ind">Правила оплаты индивидуальных</a></li>
                        <li><a href="./price.html#grup">Правила оплаты групповых</a></li>
                    </ul>                        
                </div>
                <div class="footer__item">
                    <div class="footer__item-name">
                        Языки
                    </div>
                    <ul class="footer__list">
                        <li><a href="./lang.html">Английский язык</a></li>
                        <li><a href="./lang.html">Французский язык</a></li>
                        <li><a href="./lang.html">Немецкий язык</a></li>
                        <li><a href="./lang.html">Нидерландский язык</a></li>
                        <li><a href="./lang.html">Украинский язык</a></li>
                        <li><a href="./lang.html">Русский язык</a></li>
                    </ul>
                </div>
                <div class="footer__item">
                    <div class="footer__item-name">
                        Контакты
                    </div>
                    <div class="footer__item-content">
                        <a href="">(044) 389  75  06</a>
                        <a href="">(050) 331   75  06</a>
                        <a href="">(097) 434  70  47</a>
                        <a href="">(063) 284  43  01</a>
                        <div class="footer__item-coment">
                            <span>Украина, 04070, Киев, ул.Спасская, д.25, оф.37</span>
                            <span>E-mail: info@cicerone.com.ua</span>
                            <span>Время работы: Пн.-Пт.: 9:00-20:00, Сб: 10:00-14:00</span>
                        </div>
                        <div class="footer__social">
                            <a href=""><img src="./img/insta-f.svg" alt=""></a>
                            <a href=""><img src="./img/fb-f.svg" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__descr">
        <div class="container">
            <a href="/" class="footer__logo">
                <img src="./img/logo.png" alt="">
            </a>
            <div class="footer__coment">
                Cicerone однаиз ведущих школ иностранных языков в Украине
            </div>
            <div class="footer_copi">
                Copyright ©2006-2021,<br>
                Все права защищены.
            </div>
        </div>
    </div>
</footer>

    <!-- Первая модалка -->
    <div id="modal-1" class="modal">
        <div class="modal__wrap modal__wrap--one">
            <div class="modal__close">
                <img src="./img/modal/close.svg" alt="">
            </div>
            <div class="modal__decor">
                <img src="./img/modal/decor-1.svg" alt="" class="decor">
                <img src="./img/modal/decor-2.svg" alt="" class="decor">
                <img src="./img/modal/man-1.svg" alt="" class="man">
            </div>
            <div class="modal__content">
                <div class="modal__title">корпоративное <br>обучение</div>
                <div class="modal__descr">Заполните форму ниже и мы перезвоним вам в течение 15 минут.</div>
                <form class="modal__form">
                    <div class="modal__input-wrap">
                        <div class="modal__input">
                            <img src="./img/modal/man.svg" alt="">
                            <input type="text" placeholder="Ваше имя">
                        </div>
                        <div class="modal__input">
                            <img src="./img/modal/phone.svg" alt="">
                            <input type="text" placeholder="Ваш телефон">
                        </div>
                    </div>
                    <div class="modal__input-wrap">
                        <div class="modal__input">
                            <img src="./img/modal/mail.svg" alt="">
                            <input type="text" placeholder="Email">
                        </div>
                        <div class="modal__input">
                            <img src="./img/modal/comp.svg" alt="">
                            <input type="text" placeholder="Компания">
                        </div>
                    </div>
                    <button class="btn-main modal__btn">Отправить</button>
                </form>
            </div>
        </div>
    </div>
    <!-- Вторая модалка -->
    <div id="modal-2" class="modal">
        <div class="modal__wrap modal__wrap--one">
            <div class="modal__close">
                <img src="./img/modal/close.svg" alt="">
            </div>
            <div class="modal__decor">
                <img src="./img/modal/decor-1.svg" alt="" class="decor">
                <img src="./img/modal/decor-2.svg" alt="" class="decor">
                <img src="./img/modal/man-3.svg" alt="" class="man">
            </div>
            <div class="modal__content">
                <div class="modal__title">Узнайте ваш <br>уровень знания<br> языка</div>
                <div class="modal__descr">Запишитесь на пробный урок и наши преподаватели проведут тестирование на знание языка</div>
                <form class="modal__form">
                    <div class="modal__input-wrap">
                        <div class="modal__input">
                            <img src="./img/modal/man.svg" alt="">
                            <input type="text" placeholder="Ваше имя">
                        </div>
                        <div class="modal__input">
                            <img src="./img/modal/phone.svg" alt="">
                            <input type="text" placeholder="Ваш телефон">
                        </div>
                    </div>
                    <button class="btn-main modal__btn">Отправить</button>
                </form>
            </div>
        </div>
    </div>
    <!-- Третья модалка -->
    <div id="modal-3" class="modal">
        <div class="modal__wrap modal__wrap--3">
            <div class="modal__close">
                <img src="./img/modal/close.svg" alt="">
            </div>
            <div class="modal__decor">
                <img src="./img/modal/decor-1.svg" alt="" class="decor">
                <img src="./img/modal/decor-2.svg" alt="" class="decor">
                <img src="./img/modal/man-2.svg" alt="" class="man">
            </div>
            <div class="modal__content">
                <div class="modal__title">начинаем<br> учиться</div>
                <div class="modal__descr">Заполните форму ниже и мы перезвоним вам.</div>
                <form class="modal__form">
                    <div class="modal__input">
                        <img src="./img/modal/man.svg" alt="">
                        <input type="text" placeholder="Ваше имя">
                    </div>
                    <div class="modal__input">
                        <img src="./img/modal/phone.svg" alt="">
                        <input type="text" placeholder="Ваш телефон">
                    </div>
                    <button class="btn-main modal__btn">Отправить</button>
                </form>
            </div>
        </div>
    </div>

    <div class="open-modal-1"></div>
    <div class="open-modal-2"></div>
    <div class="open-modal-3"></div>


<script src="//code.jquery.com/jquery-1.11.0.min.js"></script> 
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script> 
<script src="js/owl.carousel.min.js"></script>

<script>
    new WOW().init();
</script>
