<section id="otzivi" class="otzivi">
    <div class="container">
        <div class="section-title">Отзывы и рекомендательные письма</div>
        <div class="otzivi__wrap">
            <div class="otzivi__text-slider text-slider">
                <div class="text-slider__img">
                    <img src="./img/about/slid-decor-1.svg" alt="" class="decor">
                    <img src="./img/about/slid-decor-2.svg" alt="" class="decor">
                    <img src="./img/about/text-slider-man.svg" alt="">
                </div>
                <div class="text-slider__slider-wrap">
                    <div id="text-slider" class="text-slider__slider owl-carousel owl-theme">
                        <div class="text-slider__item">
                            <div class="decor-arr">
                                <span></span>
                            </div>
                            <div class="text-slider__item-header">
                                <img src="./img/about/kavichka.svg" alt="" class="kav-decor">
                                <img src="./img/about/slider-logo-1.png" alt="" class="slider-logo">
                            </div>
                            <div class="text-slider__title">Pernod-Ricard Ukraine</div>
                            <div class="text-slider__content">
                                <p>Співпраця Pernod-Ricard з компанією "Чичероне" триває з 2012 року.
                                    Протягом цього терміну компанія "Чичероне" зарекомендувала себе як професійний i
                                    надійний партнер.</p>
                                <p>Відмінною рисою роботи компанії є оперативність i висока організованість
                                    співробітників, готовність швидко реагувати на обставини. З упевненістю рекомендуємо компанію "Чичероне" як надійного партнера у
                                наданні послуг корпоративного навчання іноземним мовам.</p>
                                
                            </div>
                        </div>
                        <div class="text-slider__item">
                            <div class="decor-arr">
                                <span></span>
                            </div>
                            <div class="text-slider__item-header">
                                <img src="./img/about/kavichka.svg" alt="" class="kav-decor">
                                <img src="./img/about/slider-logo-1.png" alt="" class="slider-logo">
                            </div>
                            <div class="text-slider__title">Pernod-Ricard Ukraine</div>
                            <div class="text-slider__content">
                                <p>Співпраця Pernod-Ricard з компанією "Чичероне" триває з 2012 року.
                                    Протягом цього терміну компанія "Чичероне" зарекомендувала себе як професійний i
                                    надійний партнер.</p>
                                <p>Відмінною рисою роботи компанії є оперативність i висока організованість
                                    співробітників, готовність швидко реагувати на обставини. З упевненістю рекомендуємо компанію "Чичероне" як надійного партнера у
                                наданні послуг корпоративного навчання іноземним мовам.</p>
                                
                            </div>
                        </div>
                        <div class="text-slider__item">
                            <div class="decor-arr">
                                <span></span>
                            </div>
                            <div class="text-slider__item-header">
                                <img src="./img/about/kavichka.svg" alt="" class="kav-decor">
                                <img src="./img/about/slider-logo-1.png" alt="" class="slider-logo">
                            </div>
                            <div class="text-slider__title">Pernod-Ricard Ukraine</div>
                            <div class="text-slider__content">
                                <p>Співпраця Pernod-Ricard з компанією "Чичероне" триває з 2012 року.
                                    Протягом цього терміну компанія "Чичероне" зарекомендувала себе як професійний i
                                    надійний партнер.</p>
                                <p>Відмінною рисою роботи компанії є оперативність i висока організованість
                                    співробітників, готовність швидко реагувати на обставини. З упевненістю рекомендуємо компанію "Чичероне" як надійного партнера у
                                наданні послуг корпоративного навчання іноземним мовам.</p>
                                
                            </div>
                        </div>
                        <div class="text-slider__item">
                            <div class="decor-arr">
                                <span></span>
                            </div>
                            <div class="text-slider__item-header">
                                <img src="./img/about/kavichka.svg" alt="" class="kav-decor">
                                <img src="./img/about/slider-logo-1.png" alt="" class="slider-logo">
                            </div>
                            <div class="text-slider__title">Pernod-Ricard Ukraine</div>
                            <div class="text-slider__content">
                                <p>Співпраця Pernod-Ricard з компанією "Чичероне" триває з 2012 року.
                                    Протягом цього терміну компанія "Чичероне" зарекомендувала себе як професійний i
                                    надійний партнер.</p>
                                <p>Відмінною рисою роботи компанії є оперативність i висока організованість
                                    співробітників, готовність швидко реагувати на обставини. З упевненістю рекомендуємо компанію "Чичероне" як надійного партнера у
                                наданні послуг корпоративного навчання іноземним мовам.</p>
                                
                            </div>
                        </div>
                        <div class="text-slider__item">
                            <div class="decor-arr">
                                <span></span>
                            </div>
                            <div class="text-slider__item-header">
                                <img src="./img/about/kavichka.svg" alt="" class="kav-decor">
                                <img src="./img/about/slider-logo-1.png" alt="" class="slider-logo">
                            </div>
                            <div class="text-slider__title">Pernod-Ricard Ukraine</div>
                            <div class="text-slider__content">
                                <p>Співпраця Pernod-Ricard з компанією "Чичероне" триває з 2012 року.
                                    Протягом цього терміну компанія "Чичероне" зарекомендувала себе як професійний i
                                    надійний партнер.</p>
                                <p>Відмінною рисою роботи компанії є оперативність i висока організованість
                                    співробітників, готовність швидко реагувати на обставини. З упевненістю рекомендуємо компанію "Чичероне" як надійного партнера у
                                наданні послуг корпоративного навчання іноземним мовам.</p>
                                
                            </div>
                        </div>
                    </div>
                    <div class="text-slider__btns">
                        <div class="otzv-prev-js text-slider__btn">назад</div>
                        <div class="dots-text-slider">
                            
                        </div>
                        <div class="otzv-next-js text-slider__btn">вперед</div>
                    </div>
                </div>
            </div>
            <div id="otzivi__img" class="otzivi__img-slider">
                <div class="slider-btns">
                    <div class="slider-btn prev otzv-prev-js">
                       <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                           <path d="M23.5562 32.7883L14.7562 23.9883M14.7562 23.9883L23.5562 15.1883M14.7562 23.9883H32.3562M1.55615 23.9883C1.55615 36.1385 11.4059 45.9883 23.5562 45.9883C35.7064 45.9883 45.5562 36.1385 45.5562 23.9883C45.5562 11.838 35.7064 1.98828 23.5562 1.98828C11.4059 1.98828 1.55615 11.838 1.55615 23.9883Z" stroke="#E1E7F5" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                       </svg>                            
                    </div>
                    <div class="slider-btn next otzv-next-js">
                       <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                           <path d="M23.5562 32.7883L14.7562 23.9883M14.7562 23.9883L23.5562 15.1883M14.7562 23.9883H32.3562M1.55615 23.9883C1.55615 36.1385 11.4059 45.9883 23.5562 45.9883C35.7064 45.9883 45.5562 36.1385 45.5562 23.9883C45.5562 11.838 35.7064 1.98828 23.5562 1.98828C11.4059 1.98828 1.55615 11.838 1.55615 23.9883Z" stroke="#E1E7F5" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                       </svg>                            
                    </div>
               </div>
                <div id="img-slider" class="img-slider owl-carousel owl-theme">
                    <div class="img-slider__item">
                        <img src="./img/otz-1-img.jpg" alt="">
                    </div>
                    <div class="img-slider__item">
                        <img src="./img/otz-2-img.jpg" alt="">
                    </div>
                    <div class="img-slider__item">
                        <img src="./img/otz-3-img.jpg" alt="">
                    </div>
                    <div class="img-slider__item">
                        <img src="./img/otz-2-img.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>