<div class="container">
    <div class="form__content">
        <div class="form__title">У вас остались вопросы ?</div>
        <div class="form__descr">Мы перезвоним вам и проконсультируем по всем возникшим вопросам. Уточним все детали.</div>
        <form class="form__wrap">
            <div class="input">
                <div class="input__icon"><img src="./img/name.svg" alt=""></div>
                <input type="text" placeholder="Имя Фамилия">
            </div>
            <div class="input">
                <div class="input__icon"><img src="./img/phone-form.svg" alt=""></div>
                <input type="text" placeholder="Номер телефона">
            </div>
            <button class="form__btn btn-main">Перезвоните</button>
        </form>
    </div>
</div>