<section class="main-block">
    <div class="container">
        <div class="main-block__content">
            <div class="main-block__title">Изучайте иностранные языки</div>
            <div class="main-block__descr">в Cicerone - одной из лучших языковых школ Украины</div>
            <div class="main-block__img">
                <img src="./img/main-man.png" alt="">
            </div>
            <div class="main-block__btn btn-main modal-open-3" >Получить пробное занятие</div>
        </div>
        
    </div>
</section>

<div class="modal-open-1"></div>
<div class="modal-open-2"></div>