<!-- test  -->
<section class="test">
    <div class="container">
        <div class="section-title">Узнайте свой уровень знания языка</div>
        <div class="test__wrap">
            <div class="test__item">
                <div class="test__content">
                    <div class="test__icon"><img src="./img/angl.svg" alt=""></div>
                    <div class="test__name">Английский язык</div>
                </div>
                <div class="test__btn btn-transparent modal-open-2">Начать тестирование</div>
            </div>
            <div class="test__item">
                <div class="test__content">
                    <div class="test__icon"><img src="./img/franc.svg" alt=""></div>
                    <div class="test__name">Французский
                        язык</div>
                </div>
                <div class="test__btn btn-transparent modal-open-2">Начать тестирование</div>
            </div>
            <div class="test__item">
                <div class="test__content">
                    <div class="test__icon"><img src="./img/nem.svg" alt=""></div>
                    <div class="test__name">Немецкий язык</div>
                </div>
                <div class="test__btn btn-transparent modal-open-2">Начать тестирование</div>
            </div>
            <div class="test__item">
                <div class="test__content">
                    <div class="test__icon"><img src="./img/nid.svg" alt=""></div>
                    <div class="test__name">Нидерландский
                        язык</div>
                </div>
                <div class="test__btn btn-transparent modal-open-2">Начать тестирование</div>
            </div>
            <div class="test__item">
                <div class="test__content">
                    <div class="test__icon"><img src="./img/ukr.svg" alt=""></div>
                    <div class="test__name">Украинский язык</div>
                </div>
                <div class="test__btn btn-transparent modal-open-2">Начать тестирование</div>
            </div>
            <div class="test__item">
                <div class="test__content">
                    <div class="test__icon"><img src="./img/rus.svg" alt=""></div>
                    <div class="test__name">Русский
                        язык</div>
                </div>
                <div class="test__btn btn-transparent modal-open-2">Начать тестирование</div>
            </div>
        </div>
    </div>
</section>