<!-- fiatch -->
<section class="fiatch fiatch__about">
    <div class="container">
        <div class="fiatch__wrap">
            <div class="fiatch__item">
                <div class="fiatch__icon"><img src="./img/about/f-1.svg" alt=""></div>
                <div class="fiatch__title">Большой опыт</div>
                <div class="fiatch__descr">19 лет опыта обучения иностранным языкам</div>
            </div>
            <div class="fiatch__item">
                <div class="fiatch__icon"><img src="./img/about/f-2.svg" alt=""></div>
                <div class="fiatch__title">Квалификация</div>
                <div class="fiatch__descr">У всех преподавателей
                    школы степень
                    магистра филологии</div>
            </div>
            <div class="fiatch__item">
                <div class="fiatch__icon"><img src="./img/about/f-3.svg" alt=""></div>
                <div class="fiatch__title">Красный диплом</div>
                <div class="fiatch__descr">У большинства
                    преподавателей школы
                    красный диплом</div>
            </div>
            <div class="fiatch__item">
                <div class="fiatch__icon"><img src="./img/about/f-4.svg" alt=""></div>
                <div class="fiatch__title">Статус</div>
                <div class="fiatch__descr">Языковая школа  Cicerone
                    входит в 100 лучших
                    компаний Украины</div>
            </div>
        </div>
    </div>
</section>