<!-- format -->
<section class="format">
    <img class="main-decor--1" src="./img/w1/fon.svg" alt="">
    <img class="main-decor--2" src="./img/w2/fon.svg" alt="">
    <div class="container">
        <div class="section-title">Удобный формат обучения</div>
        <div class="format__wrap">
            <div class="format__content">
                <div class="format__img">
                    <img class="wow animate__fadeInLeft" src="./img/w1/peple.svg" alt="">
                    <img class="decor-item wow animate__fadeInRight" style="animation-delay: .3s" src="./img/w1/i1.svg" alt="">
                    <img class="decor-item wow animate__fadeInRight" style="animation-delay: .5s" src="./img/w1/i2.svg" alt="">
                    <img class="decor-item wow animate__fadeInRight" style="animation-delay: .4s" src="./img/w1/i3.svg" alt="">
                    <img class="decor-item-mob" src="./img/w1/mob.svg" alt="">
                </div>
                <div class="format__text">
                    <div class="format__text-item off">
                        <div class="format__toggle-btn">
                            <img src="./img/toggle-arr.svg" alt="">
                        </div>
                        <div class="format__text-title format__text-title--on ">Онлайн</div>
                        <p class="wieght">Оптимальный вариант для жителей Киева и людей, которые привыкли к классическому формату обучения
                        </p>
                        <p>Обучение в специально оборудованных аудиториях в языковой школе Cicerone, либо групповые занятия в вашем офисе. 
                        </p>
                        <p>Живое общение со студентами и преподавателями в заранее оговоренное время.</p>
                    </div>
                    <div class="format__text-item">
                        <div class="format__toggle-btn">
                            <img src="./img/toggle-arr.svg" alt="">
                        </div>
                        <div class="format__text-title format__text-title--of ">Офлайн</div>
                        <p class="wieght">Оптимальный вариант для жителей Киева и людей, которые привыкли к классическому формату обучения
                        </p>
                        <p>Обучение в специально оборудованных аудиториях в языковой школе Cicerone, либо групповые занятия в вашем офисе. 
                        </p>
                        <p>Живое общение со студентами и преподавателями в заранее оговоренное время.</p>
                    </div>
                </div>
            </div>
            <div class="format__content reverse">
                <div class="format__text">
                    <div class="format__text-item">
                        <div class="format__toggle-btn">
                            <img src="./img/toggle-arr.svg" alt="">
                        </div>
                        <div class="format__text-title format__text-title--of ">Индивидуальные занятия</div>
                        <p class="wieght">Для практичных людей, которые ценят свое время, нацелены на результат и хотят за минимальный промежуток времени получить максимум знаний</p>
                        <ul class="list-ok">
                            <li>Обучение один на один с преподавателем</li>
                            <li>2 занятия по 90 минут в неделю</li>
                            <li>Бесплатное пробное занятие</li>
                            <li>График занятий по взаимной договоренности</li>
                        </ul>
                    </div>
                    <div class="format__text-item off">
                        <div class="format__toggle-btn">
                            <img src="./img/toggle-arr.svg" alt="">
                        </div>
                        <div class="format__text-title format__text-title--on ">Групповые занятия</div>
                        <p class="wieght">Для любителей общения и людей, которые хотят изучить иностранный язык и при этом немного сэкономить.
                        </p>
                        <ul class="list-ok">
                            <li>Группы до 5 человек</li>
                            <li>2 занятия по 90 минут в неделю</li>
                            <li>Бесплатное пробное занятие</li>
                            <li>Занятия по утвержденному графику</li>
                        </ul>
                    </div>
                    
                </div>
                <div class="format__img--right">
                    <img class="wow animate__fadeInRight" src="./img/w2/peple.svg" alt="">
                    <img class="decor-item wow animate__fadeInLeft" style="animation-delay: .3s" src="./img/w2/i1.svg" alt="">
                    <img class="decor-item wow animate__fadeInLeft" style="animation-delay: .5s" src="./img/w2/i2.svg" alt="">
                    <img class="decor-item wow animate__fadeInLeft" style="animation-delay: .4s" src="./img/w2/i3.svg" alt="">
                </div>
                
            </div>
        </div>
    </div>
</section>